In [31]:
from sentence_transformers import SentenceTransformer
import pandas as pd
import numpy as np
import pickle
import json

In [5]:
# model = SentenceTransformer("intfloat/multilingual-e5-large-instruct")
# sentences = [
#     "The weather is lovely today.",
#     "It's so sunny outside!",
#     "He drove to the stadium."
# ]
# embeddings = model.encode(sentences)
# similarities = model.similarity(embeddings, embeddings)
# print(similarities.shape)
# # [3, 3]

In [6]:
# model.save("./intfloat/multilingual-e5-large-instruct")

The Office

In [7]:
# # Get the folder where this script is located
# df = pd.read_csv("schrute.csv", header=0)
# print(df.columns)
# df['lower'] = df['text'].str.lower()
# df['lower'] = df['lower'].str.strip()
# # Replace empty strings with NaN and then drop those rows
# df.replace(pd.NA, "", inplace=True)
# sentences = df['text'].tolist()

TBBT

In [8]:
df = pd.read_csv('TBBT.csv')

In [9]:
# df = df[['index',
#  'season',
#  'episode',
#  'episode_name',
#  'director',
#  'writer',
#  'character',
#  'text',
#  'text_w_direction']]

In [10]:
# df.to_csv("TBBT.csv", index=False)

In [11]:
# sentences = df['text'].tolist()
# all_embeddings = []
# for i in range(0, len(df['text']), 10000):
#     print(i, i+10000)
#     embeddings = model.encode(sentences[i:i+10000])
#     all_embeddings.append(embeddings)
# combined_vertical = np.vstack(all_embeddings)
# # Step 2: Pickle the array
# with open('TBBT.pkl', 'wb') as f:
#     pickle.dump(combined_vertical, f)

In [12]:
df

,index,season,episode,episode_name,director,writer,character,text,text_w_direction
0,0,1,1,Pilot Episode,NaN,NaN,Scene,A corridor at a sperm bank.,NaN
1,1,1,1,Pilot Episode,NaN,NaN,Sheldon,So if a photon is directed through a plane wi...,NaN
2,2,1,1,Pilot Episode,NaN,NaN,Leonard,"Agreed, what’s your point?",NaN
3,3,1,1,Pilot Episode,NaN,NaN,Sheldon,"There’s no point, I just think it’s a good id...",NaN
4,4,1,1,Pilot Episode,NaN,NaN,Leonard,Excuse me?,NaN
...,...,...,...,...,...,...,...,...,...
54401,54401,10,24,The Long Distance Dissonance,NaN,NaN,Sheldon,"And I with you. Question, are you seeking a r...",NaN
54402,54402,10,24,The Long Distance Dissonance,NaN,NaN,Ramona,What if I were?,NaN
54403,54403,10,24,The Long Distance Dissonance,NaN,NaN,Sheldon,"Well, that would raise a number of problems. ...",NaN
54404,54404,10,24,The Long Distance Dissonance,NaN,NaN,Scene,Princeton.,NaN
54405,54405,10,24,The Long Distance Dissonance,NaN,NaN,Sheldon,"(Knock, knock, knock) Amy. (Knock, knock, kno...",NaN

In [28]:
df[(df['season'] == 10) & (df['episode']==10)]['episode_name'].unique()[0]

'The Property Division Collision'

In [29]:
data = []
for season in range(1,11):
    obj = {
    "title": f"season {season}",
    "value": f"{season}",
    "selectable": False,
    "children": []
  }
    children = []
    max_episode = max(df[df['season'] == season]['episode'])
    for episode in range(1, max_episode+1):
      episode_name = df[(df['season'] == season) & (df['episode']==episode)]['episode_name'].unique()[0]
      children.append({ "title": f"season {season} episode {episode} - {episode_name}", "value": f"{season}-{episode}" }  )
    obj["children"] = children
    data.append(obj)

In [32]:
with open("season_episode.json", "w") as json_file:
    json.dump(data, json_file, indent=4)

In [33]:
df.to_json("data.json", orient='records', indent=4)

# sec 2

In [5]:

# Step 3: Unpickle the array
with open('combined_vertical.pkl', 'rb') as f:
    combined_vertical = pickle.load(f)

In [17]:
query = "Bears, beets, Battlestar Galactica."
query = "out of your hands"
query_embedding = model.encode(query)

In [18]:
scores = model.similarity(query_embedding, combined_vertical)[0]
indices = np.argsort(scores).tolist()[::-1][:10]
indices

[10067, 52462, 39578, 39570, 26538, 8992, 26537, 39557, 5480, 38165]

In [19]:
df.loc[1]

index                                                         2
season                                                        1
episode                                                       1
episode_name                                              Pilot
director                                             Ken Kwapis
writer              Ricky Gervais;Stephen Merchant;Greg Daniels
character                                                   Jim
text                 Oh, I told you. I couldn't close it. So...
text_w_direction     Oh, I told you. I couldn't close it. So...
lower                oh, i told you. i couldn't close it. so...
Name: 1, dtype: object

In [20]:
df.loc[indices]['text']

10067    Your hands.
52462    Put it down
39578
39570
26538
8992
26537
39557
5480
38165
Name: text, dtype: object